*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 233, 221);
}
nav{
    padding: 5% 10%;
    height: 15vh;
 }
/* .hero-right-section div img {
    width: 30%;
} */
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight:600;
}
nav ul li img{
    width: 100px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
 }
.leftmain{
    margin: 10%;
} 
 
.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size: 60px;
}

.leftmain p{
    margin: 5% 0%
  }
.leftmain button{
    padding: 15px 10px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color:white;
    background-color:rgb(69, 147, 69);
    border-radius: 10px;
}
.rightmain
{
    padding: 7%;
}

.rightmain div img {
    width: 30%;
}

.rightmain div img:first-child{
    margin-right: 20px;
    /* new concept */
}

.rightmain div
{
    margin-bottom: 20px;
}

.rightmain > img{
    width: 64%;
}

/* justify:main axis(horizontal)
Align:cross axis(vertical) */
